.letter{
	text-align:left;
	vertical-align: bottom;
	font-size:150px;
	font-weight: 700;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 23px 20px 0px 0px;
}

.letter-outliner{
	color: transparent;
	-webkit-text-stroke: 0.5px green;
}

.letter-color{
	color: green;
}

.letter-actual{
	margin: 0px 0px 0px 0px;
	font-size:170px;
	color: transparent;
	-webkit-text-stroke: 0.5px green;
}

#goodforyou {
  position: absolute;
/*  margin: auto;*/
  top: 100px;
  left: 50px;
/*  border: 1px solid gray;*/
/*  background-color: white;*/
  background-color: transparent;
}

#goodforyou img{
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 1;
}