{% extends "hello/t_text_app.html" %}

{% block title %}Анализ текста{% endblock title %}
{% block header %}Анализ текста{% endblock header %}
{% load static %}
{% block content %}
<form enctype="multipart/form-data" action="/textanalysis/" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Загрузить файл"></p>
</form>
<img src="{% static "images/q.jpg" %}" alt="computer" >
<div>{{rf}}</div>
<div>{{rp}}</div>
<div>{{ff}}</div>
<!--
<p><input type="file" name="textfile">
-->
{% endblock content %}
