{% extends "diary/t_main_diary.html" %}

{% block title %}Entry{% endblock title %}
{% block header %}Entry{% endblock header %}
{% load static %}

{% block content %}

{% verbatim %}
<div class="container" id="entry">
	<div v-for="entry in entrys">

		<div class="btn btn-success btn-sm" >{{entry.chapter_name}}</div>
		<br/>
		<div class="btn btn-outline-primary btn-sm" >автор:<strong> {{entry.user_name}}</strong></div>
		<div class="btn btn-outline-dark btn-sm" >{{entry.date_start}}</div> 
		<div class="btn btn-outline-success btn-sm" >{{entry.date_end}}</div> 
		<br/>
		<div class="btn btn-warning btn-lg" >
			{{entry.text}}
			<span class="badge bg-secondary">важность: <span style="color:yellow">{{entry.grade}}</span></span>
		</div>
		<br/><br/>
		<div>
			<a class="btn btn-primary position-relative btn-sm" data-bs-toggle="collapse" :href="'#collapseExample'+entry.id" role="button" aria-expanded="false" :aria-controls="'collapseExample'+entry.id">
				Ссылки:
				<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    				{{entry.links.length}}</span>
 			</a>
			<div class="collapse" :id="'collapseExample'+entry.id">
				<div class="card card-body">
  					<div v-for="link in entry.links">
						<a class="btn btn-outline-primary" :href="link['link']">{{link['link']}}</a>
     				</div>
  				</div>
			</div>
		</div>

	<hr/><hr/>
	</div>
</div>


{% endverbatim %}

<script src='/static/diary/js/app.js'></script>
{% endblock content %}
