{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: yellow;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "games:index" %}">
      Games
    </a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="{% url "games:words" %}">Words</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url "games:about" %}">About</a>
      </li>
    </ul>

    <form class="d-flex">
      <div class="input-group w-200">
        <input type="text" class="form-control" placeholder="Sorry, search is in dev now" aria-label="my search" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">
          <button type="submit" class="btn btn-secondary"><i class="bi-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</nav>

