
{% verbatim %}

<!-- <div id="bukva">
	Счётчик: {{ counter }}
</div> -->


<div class="container" id="word" style="display:block;">
	<div id="word_voice" class="btn btn-success btn-lg" v-on:click="audioplay(word.voice)">
		слово:<strong>{{word.name}}</strong>
	</div>
	
	<hr/>
	<audio controls :src='word.voice'></audio>	
	<div v-for="letter in word_of_letters">
		<div class="letter letter-outliner" v-on:click="audioplay(letters[letter])" role="button">{{letter}}</div>
	</div>
	<div style="clear:both;"></div>

	<div>
		<p>{{word}}</p>
	</div>
	<div>
		<p>{{word_of_letters}}</p>
	</div>
	<div>
		<p>{{letters}}</p>
	</div>
</div>

{% endverbatim %}