<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Know How</title>
	<link rel="stylesheet" href="{% static "css/styles.css" %}"/>
	<meta charset="utf-8" />
</head>
<body>
	<h2>Know How</h2>
	<hr />
	<div><a href="{% url "hello:index" %}">На главную</a></div>
	<div><a href="{% url "hello:textanalysis" %}">Анализ текста</a></div>
	<hr />
	<div><a href="{% url "knowhow:about" %}">О проекте Know How</a></div>
	<div><a href="{% url "knowhow:articles" %}">Статьи Know How</a></div>
	<div><a href="{% url "knowhow:addarticles" %}">Создать статью Know How</a></div>
	</body>
</html>
